.element__like {
    background-color: transparent;
    background-image: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 19px;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
}
.element__like:hover {
    opacity: 0.6;
}