.element__delete {
		background-color: transparent;
    background-image: url(../../../images/deletebutton.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 19px;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
		position: absolute;
		top: 20px;
		right: 20px;
}
.element__delete:hover {
	opacity: 0.6;
}