.header {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 880px;
    padding: 45px 0 41px 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin-bottom: 40px;
}
@media (max-width: 500px) {
    .header {
        padding: 28px 27px 31px 27px;
    }
  }