.profile__add-button {
    background-color: transparent;
    padding: 0;
    background-image: url(../../../images/addbutton.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__add-button:hover {
    opacity: 0.5;
}
@media (max-width: 930px) {
    .profile__add-button {
        width: calc(100% - 38px);
    }
  }