.profile__name {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 22px 18px 16px 30px;
    display: inline-block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 500px;
}
@media (max-width: 930px) {
    .profile__name {
        text-align: center;
    }
  }
@media (max-width: 600px) {
    .profile__name {
			max-width: 400px;
      font-size: 27px;
      line-height: 33px;
    }
  }
	@media (max-width: 500px) {
    .profile__name {
			max-width: 300px;
    }
  }
	@media (max-width: 400px) {
    .profile__name {
			max-width: 220px;
    }
  }