.profile__name {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 22px 18px 16px 30px;
}