@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__lodo/header__lodo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__conteiner/profile__conteiner.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__about-me/profile__about-me.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__footer/element__footer.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__conteiner/popup__conteiner.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__user-name/popup__user-name.css);
@import url(../blocks/popup/__user-bio/popup__user-bio.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/_closed/popup_closed.css);